body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("./img/background.jpeg");
    background-size: cover;
    background-position: center;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.item {
    position: absolute;
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.12);
}

#title {
    top: 5%;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}

#cashier {
    top: 7%;
    left: 7%;
    width: 25%;
}

#girlRack {
    top: 45%;
    left: 5%;
    width: 32%;
}

#kidRack {
    top: 25%;
    left: 38%;
    width: 33%;
}

#mirror {
    top: 1%;
    left: 75%;
    width: 12%;
}

#roundRack {
    top: 45%;
    left: 73%;
    width: 20%;
}

#clothesBox {
    top: 73%;
    left: 43%;
    width: 18%;
}

.popup {
    position: absolute;
    max-width: 220px;
    padding: 10px 12px;
    background: #fffdfd;
    border-radius: 10px;
    border: 2px solid #ffb6c1;
    font-size: 14px;
    display: none;
    z-index: 10;
}

.popup::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.popup.show {
    display: block;
}

#cashierBubble {
    top: 5%;
    left: 33%;
}

#cashierBubble::after {
    top: 100%;
    left: 15%;
    border-width: 8px 8px 0 8px;
    border-color: #ffb6c1 transparent transparent transparent;
}

#kidRackBubble {
    top: 18%;
    left: 45%;
}

#kidRackBubble::after {
    top: 100%;
    left: 20%;
    border-width: 8px 8px 0 8px;
    border-color: #ffb6c1 transparent transparent transparent;
}

#roundRackBubble {
    top: 38%;
    left: 62%;
}

#roundRackBubble::after {
    top: 100%;
    left: 70%;
    border-width: 8px 8px 0 8px;
    border-color: #ffb6c1 transparent transparent transparent;
}
